<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ru.gostev.task.three.tests by packages">
    <test verbose="2" name="ru.gostev.task.three.tests">
        <packages>
            <package name="ru.gostev.task.three.tests"/>
        </packages>
    </test>
</suite>